Source: libfastcgi-cocaine-proxy
Priority: extra
Maintainer: Andrey Sibiryov <kobolog@yandex-team.ru>
Build-Depends: debhelper (>= 7), libfastcgi-daemon2-dev, libcocaine-dealer-dev
Standards-Version: 3.7.2

Package: libfastcgi-cocaine-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fastcgi-daemon2, fastcgi-daemon2-init,
 libfastcgi2-syslog, libcocaine-dealer
Description: Cocaine Dealer FastCGI component
 FastCGI Daemon component for Cocaine Dealer.
